@charset "UTF-8";
/* CSS Document */
body {
	font:14px/1.5 AppleGothic,Arial,'Microsoft Yahei','Simsun';
	color:#000;
	background:#fff;
	}
*{padding:0;margin:0;}
body,html,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:bold}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}
legend{color:#000}

a {
	color: #666;
	text-decoration: none;
	}

a:hover {
	color: #333;
	}
 .clearfix {
  *zoom: 1;
	}
.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
	line-height: 0;
	clear: both;
	}

.underline{
	text-decoration:underline;
	}



/* ------------------------headbar-----------------------------*/



#headbar{
	width:100%;
	height:100px;
 	position:fixed;
	z-index:999;
	background:#fff;
 	top:0;
	box-shadow:0 1px #ddd;
}
.px1024{
	max-width:1024px;
	margin:0 auto;
	}
#headbar .px1024 {
	position:relative;
	padding:0 10px;
	}


  #logo{
  	width:210px;
  	height:70px;
  	display:inline-block;
		font-size: 70px;
    font-family: "STXingkai","KaiTi","Microsoft YaHei","黑体","宋体",sans-serif;
  /*	background:url(../img/logo.png) no-repeat;
  	overflow:hidden;
   	margin:10px 0 10px 15px;
  	text-indent:-20em;*/
  	}


  #menu{
  	position: absolute;;
  	top:0;
   }
	 .sideNav{
		 right:50px;
	 }
  #menu li{
  	display:inline-block;
   }
  #menu a{
  	color:#000;
  	font-size:14px;
    	height:65px;
  	width:110px;
  	text-align:center;
  	display: inline-block;
  	line-height:20px;
  	padding:35px 0 0 0;
  	-webkit-transition:  0.2s ;
  	-moz-transition:  0.2s ;
  	-ms-transition:  0.1s ;
  	-o-transition:  0.2s ;
  	background:#fff;
  }
  #menu a span{
  	text-align:left;
  	display:inline-block;}
  #menu a b{
  	font-size:12px;
  	color:#8d8d8d;
  	font-weight:normal;
  	-webkit-transition:  0.2s;
  	-moz-transition:  0.2s ;
  	-ms-transition:  0.1s ;
  	-o-transition:  0.2s ;
  	}

  #menu a:hover,
	#menu a:hover b,
  #menu a.current,
  #menu a.current b{
  	color:#fff;
  	-webkit-transition:  0.2s ;
  	-moz-transition:  0.2s ;
  	-ms-transition:  0.1s ;
  	-o-transition:  0.2s ;
  }

#menu a:hover,
#menu a.current{
	background:	#87CEEB;
	-webkit-transition:  0.2s ;
	-moz-transition:  0.2s ;
	-ms-transition:  0.1s ;
	-o-transition:  0.2s ;
	}
	#navBox {
		display: none
	}

  @media (max-width: 960px) {
  #headbar{
      height:70px;
  }
  #logo{
  width:120px;
  height:40px;
	font-size: 40px;
	font-family: "STXingkai","KaiTi","Microsoft YaHei","黑体","宋体",sans-serif;
/*  background:url(../img/logo.png) no-repeat;
  background-size:120px 40px ;
	margin:10px 0 0 0;*/
  }
	#menu a{
 		height:50px;
		width:90px;
		padding:20px 20px 0 0;
	}
}

@media (max-width:768px){
	#headbar{
	height:45px;
	}
	#logo{
	width:75px;
	height:25px;
	font-size: 25px;
	font-family: "STXingkai","KaiTi","Microsoft YaHei","黑体","宋体",sans-serif;
/*	background:url(../img/logo.png) no-repeat;
	background-size:75px 25px ;
	margin:10px 0 0 0;*/
	position:fixed;
	left:20px;
	}
	#navBox {
		display:block;
	}
#menu {
	height:100%;
	position: fixed;

}
.sideNav{
	right:-90px;
}
#menu li{
	display:block;
	border-bottom: 1px solid rgba(0,0,0,0.05);
	border-left:1px solid rgba(0,0,0,0.05);
	}
#menu a{
	height:35px;
	width:70px;
	padding:5px 10px 5px 10px;
	line-height:35px;
	text-align:auto;
}
#menu a b{
		display:none;
		}
}
.navBox{
	width:45px;
	padding:15px 0 0 0;
	height:30px;
	position:absolute;
	right: 10px;
	top:0;

	}
.navOpen{
	height:12px;
	width:22px;
	display:block;
	margin:0 auto;
	border-top:2px solid #666;
	border-bottom:2px solid #666;
	position:relative;
	z-index:1;
	}

	.navOpen:after{
	display:block;
	position:absolute;
	left:0;
	right:0;
	height:2px;
	overflow:hidden;
	content:'';
	background:#666;
	top:50%;
	margin-top:-1px;
	z-index:1;
	}

	.navBox:before{
	width:2px;
	height:18px;
	display:block;
	content:'';
	background:#fff;
	left:14px;
	top:15px;
	position:absolute;
	z-index:333;
	}
.openNav .sideNav{
	right:0;
	}

	.openNav .navBox{
		right:100px;
		}

/*---------------------------------------content--------------------------------------*/
.scrolPage{
 	margin:0 auto;
	padding:99px 0 0 0;
  	}
	@media (max-width: 960px) {
	  .scrolPage{
	      padding:69px 0 0 0;
	  }
  }
	@media (max-width: 768px) {
	  .scrolPage{
	      padding:44px 0 0 0;
	  }
  }
	/*-------------------------------notes---------------------------*/
	.notes{
			height: 570px;
			width: 100%;
			position: relative;
		/* background-image:url(../img/img12.jpg);
		background-repeat:no-repeat;
		background-attachment:fixed;
		background-position:center 0;
		overflow:hidden; */
	}
	.notesImg{
		position: absolute;
		overflow:hidden;
		right: 0;
		z-index: -1;
	}
	.b_1{
 	  padding:50px 0;
    position:relative;
	  z-index: 99
  }
	.noteText{
		padding-left: 6%;
	}
	.noteText h1{
		padding:16px 0 16px 6%;
		font-size: 35px;
		color: #000;
	}
	.noteText h3{
		padding:10px 0 10px 6%;
		font-size: 25px;
		color: #333;
	}
	.noteText h3 span{
		padding:10px ;
	}

.b_2{
	   background-image:url(../img/img22.jpg);
	  background-repeat:no-repeat;
	  background-attachment:fixed;
	  background-position:center 0;
 	  overflow:hidden;
	  z-index: -9
	}
	.expTittle{
		position:relative;
	 text-align:center;
		 padding:160px 0 120px 0;
	}

	.expTittle h1 {
    color: #01A9DB;
    font-size: 80px;
    font-weight: normal;
    padding: 40px 0;
}

.expTittle h2 {
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    width: 100%;
}
@media (max-width:480px){
	.noteText h1{
		font-size: 25px;
	}
	.noteText h3{
		font-size: 20px;
	}
	.expTittle h1 {
		font-size: 50px;
	}
}


	/*-------------------------------------animateImg------------------------------*/
	.animatedImg
{
width:100px;
height:100px;
position:relative;
padding:10px;
animation:animatedImg 2s 1;
-moz-animation:animatedImg 2s 1;
-webkit-animation:animatedImg 2s 1;
-o-animation:animatedImg 2s 1;
border-radius:5px;
-webkit-border-radius:5px;
}

.animatedP
{
  font-size: 60px;
  padding: 3%;
	color: #555;
position:relative;
animation:animatedP 2s 1;
-moz-animation:animatedP 2s 1;
-webkit-animation:animatedP 2s 1;
-o-animation:animatedP 2s 1;
border-radius:5px;
-webkit-border-radius:5px;
}
.swiper-slide-img1{
	background-image: url(../img/sanwikweb.jpg);
}
.swiper-slide-img2{
	background-image: url(../img/monitordemo.jpg);
}
.swiper-slide-img3{
	background-image: url(../img/peasonalblog.jpg);
}
.swiper-slide-img4{
	background-image: url(../img/peasonalcv.jpg);
}


@keyframes animatedImg
{
0%		{transform: rotate(0deg);left:120%;}
100%	{transform: rotate(-360deg);left:0%;}
}

@keyframes animatedP
{
from {left:140%;}
to {left:0px;}
}

@keyframes textShow
{
    from {width:0px;}
    to {width:100%;}
}

@media (max-width:480px){
	.animatedImg{
		width:70px;
		height:70px;
	}
	.animatedP{
		font-size: 30px;
	}
}

/*--------------------------------------timeLine---------------------------------*/
.timeLine{
   position: relative;
   display: table;
   table-layout: fixed;
   width: 96%;
	 padding: 0 2%;
}
.timeLine:before{
    bottom: 5px;
    border-left: dashed 2px #666;
    border-top: none;
    border-right: none;
    border-bottom: none;
    content: "";
    left: 50%;
    position: absolute;
    top: 0px;
    width: 0px;
    z-index:9;
}
.timeRow{
	display: table-row;
	 /* opacity: 0; */

}
.timeRow h3{
	font-size: 1.8em;
	padding-left: 2%;
	line-height: 170%;
	color: #111;
	font-weight:normal;
}
.timeRow li{
	font-size: 1.6em;
	padding-left: 2%;
	line-height: 170%;
	list-style-position: inside;
	font-weight:bold;
}
.timeRow:before {
	content: "";
  display: block;
}
.timeRow .rowRight {
	position: relative;
	display: table-cell;
	padding: 0 0 6% 0;
	width: 50%;
}
.workTime span{
	position: absolute;
	font-size: 30px;
	color: #01A9DB;
}
.rowRight .workTime span{
	left: -15px;
}

.workTime h2{
	position: relative;
	font-size: 2em;
	color: #01A9DB;
	top: -30px;
	text-decoration: none;
	border-bottom: solid 3px #01A9DB;

}
.rowRight .workTime h2{
	left: 16px;
	padding-right: 5%;
	text-align: right;
}

.timeRow.left:after {
  	content: "";
    display: block;
		right:50%;
}
.timeRow.left:before {
	  content: "";
    display: none;
    width: 0%;
}
.timeRow .rowLeft {
	position: relative;
	display: table-cell;
	padding: 0 0 6% 0;
	width: 50%;
}
.rowLeft .workTime span{
	right: -15px;
}
.rowLeft .workTime h2{
	right: 16px;
	padding-left: 5%;
	text-align: left;
}
.fadeInUp{
	animation:fadeInUp 3s 1;
	-moz-animation:fadeInUp 3s 1;
	-webkit-animation:fadeInUp 3s 1;
	-o-animation:fadeInUp 3s 1;
	/* display: table-row; */
}
@keyframes fadeInUp
{
	0% {
	    opacity: 0;
	    -webkit-transform: translateY(50px);
	    -ms-transform: translateY(50px);
	    transform: translateY(50px);
		}
		100% {
		    opacity: 1;
		    -webkit-transform: translateY(0);
		    -ms-transform: translateY(0);
		    transform: translateY(0);
		}
}
@media (max-width:480px){
	.timeLine:before {
	 content:none;
	}
	.timeRow{
		display: inline-block;
		width: 97%;
		margin-bottom: 30px;
	}
	.timeRow h3{
		font-size: 1.5em;
		line-height: 150%;
	}
	.timeRow li {
    font-size: 1.4em;
	}
}

/*--------------------------------skills---------------------------------*/
.skills{
	padding: 120px 0 0 0;
}
.sTitle h1{
	padding: 60px 0 40px 0;
	text-align: center;
	font-size: 3.0em;
	font-weight: normal;

}
.sTitle span {
    display: inline-block;
    line-height: 40px;
    position: relative;
    padding: 0 6%;
    font-weight: normal;
}
.sTitle span:before {
    width: 100%;
    height: 1px;
    background: #333;
    position: absolute;
    left: 0;
    right: 0;
    content: '';
    bottom: -20px;
}
.sTitle span:after {
    display: block;
    overflow: hidden;
    content: '';
    background: #333;
    border: 10px solid #fff;
    position: absolute;
    left: 50%;
    width: 4px;
    bottom: -32px;
    height: 4px;
    border-radius: 100%;
    margin-left: -12px;
}
.sText {
    text-align: center;
    color: #555;
    font-size: 16px;
    padding:1%;
}
.sContent{
	width:90%;
	display:block;
	padding: 3% 5%;
}

.sBox{
	width:31%;
	float:left;
	padding: 2% 1% 0 1%;
}
@media (max-width: 960px) {
	.sBox{
			width:45%;
	}
}
@media (max-width: 480px) {
	.skills {
	    padding: 30px 0 0 0;
	}
	.sBox{
			width:95%;
	}
	.sTitle h1 {
		font-size: 2.5em;
	}
}

	/*--------------------------------------progress---------------------------------*/
	.progress {
	    height: 30px;
			line-height:220%;
	    margin-bottom: 20px;
	    overflow: hidden;
	    background-color: #f5f5f5;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	}

	.progress-striped .progress-bar,
	.progress-bar-striped {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  -webkit-background-size: 40px 40px;
	          background-size: 40px 40px;
	}

	.progress-bar-info {
	  background-color: #5bc0de;
	  text-align:center
	}
	.progress-striped .progress-bar-info {
	  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	}
.progress-name{
	float:left;
	font-size: 1.5em;
	padding: 0 15px;
}
@media (max-width:480px) {

.progress {
    height: 20px;
    line-height: 170%;
    margin: 0 50px 20px 0;
	}
	.progress-name{
		font-size: 1.3em;
	}
	.sText {
	    font-size: 1.1em;
	    padding:2%;
	}
}
/*-----------------------------demos-------------------------------*/
.demos{
	padding: 120px 0 0 0;
}
.demoTitle{
	color: #01A9DB;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

/*--------------------------------------swiper-------------------------------------*/

.swiper-container {
	width: 100%;
	padding-top:15px;
	padding-bottom: 50px;
}
.swiper-slide{
	background-position: center;
	background-size: cover;
	width: 470px;
	height: 580px;
}
.swiper-slide-img{
  width:470px;
  height:230px;
}
.swiper-slide h2{
	color:#fff;
	text-align: center;
	font-size: 2.8em;
  background: transparent;
  padding:15% 0 10px 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}

.swiper-slide h3{
	font-weight: bold;
	color:#000;
	padding: 17px;
	border-style: none none solid none;
	border-color:  #01A9DB;
}
.swiper-text{
	color:#000;
	border-style:  solid none none none;
	border-color:  #01A9DB;
	font-weight: bold;
	padding: 20px 0 0 5%;
	line-height: 180%;
}
.swiper-slide .mask{
   position: absolute;
   overflow: hidden;
   top: 61px;
   left: 0;
	 width:470px;
	 height:230px;
}

.swiper-slide .mask {
   background-color:  #01A9DB;;
   -webkit-transition: all 0.5s linear;
   -moz-transition: all 0.5s linear;
   -o-transition: all 0.5s linear;
   -ms-transition: all 0.5s linear;
   transition: all 0.5s linear;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
}
/* <a> 标签的点击事件有四个状态，分别是link、visited、hover、active，如果同时设置多个状态的显示且不按照一定状态的话，就会让一些效果被覆盖了。
正确的顺序应该是：
link→visited→hover→active

a:link：未访问时的样式，一般省略成a
a:visited：已经访问后的样式
a:hover：鼠标移上去时的样式
a:active：鼠标按下时的样式 */
.swiper-slide:hover .mask{
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=100);
	opacity: 0.8;
}
.swiper-slide:hover h2 {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}

@media (max-width:480px) {
	.demos {
    padding: 60px 0 0 0;
  }
	.swiper-slide{
		width: 300px;
		height: 450px;
	}
	.swiper-slide-img{
	  width:300px;
	  height:150px;
	}
	.swiper-slide .mask{
		 width:300px;
		 height:150px;
	}
}
/*---------------------------------about-------------------------------------*/
.about{
	padding-top: 120px;
	padding-left: 3%;
}
.about h1{
	 color: #000;
	 font-size: 2.8em;
	 margin-bottom: 20px;
}
.about h2{
	margin-top: 30px;
	font-size: 1.8em;
	color:#01A9DB;
	padding-bottom:5px;
	border-bottom: 1px solid #ddd;
}
.about h3{
	margin: 10px;
	font-size: 1.5em;
	color:#333;
	margin-bottom: 50px;
}
@media (max-width:480px) {
	.about{
		padding-top: 60px;
	}
	.about h1{
		font-size: 2em;
	}
	.about h2{
		font-size: 1.5em;
	}
	.about h3{
		font-size: 1.3em;
	}
}


/*---------------------------------fixedBtn--------------------------------------*/
.fixedBtn {
    position: fixed;
    right: 5%;
    bottom: 7%;
    width: 50px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 24px;
    z-index: 1040;
    -webkit-backface-visibility: hidden;
}
.fixedBtn .goTop {
    border-bottom: 1px solid #ccc;
}
.fixedBtn a {
    display: inline-block;
    width: 50px;
    height: 50px;
		line-height: 50px;
    text-align: center;
}
.fixedBtn  .downloadNote{
	position:fixed;
	right: 5%;
	padding: 0 60px 0 10px;
	background-color: #01A9DB;
	opacity: 0.7;
	color: #fff;
	z-index:-9;
	display: none;
}

.fixedBtn a:hover  .downloadNote, .fixedBtn a:hover  .icon-profile{
	display: inline-block;
	color: #fff;
}

/*-----------------------------------footer-----------------------------------*/
.footer{
	margin-top: 120px;
	width: 100%;
	height: 90px;
	z-index: 999;
	background: #fff;
	bottom: 0;
	box-shadow: 0 -1px 0 #ddd;
	line-height: 90px;
	text-align: center;
}
@media (max-width:480px){
	.footer{
		height:45px;
		line-height: 45px;
	}
}

/*-------------------------------------font------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wdqat3');
  src:  url('../fonts/icomoon.eot?wdqat3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wdqat3') format('truetype'),
    url('../fonts/icomoon.woff?wdqat3') format('woff'),
    url('../fonts/icomoon.svg?wdqat3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-books:before {
  content: "\e920";
}
.icon-profile:before {
  content: "\e923";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-evil2:before {
  content: "\e9f0";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
